---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <article>
    <section class="bg-hvid py-10">
      <h1>Giv dit bidrag</h1>
      <h3 class="text-sort">
        Fortæl os hvor mange GB du har slettet i kampen mod digital forurening.
      </h3>
      <div></div>
      <!-- Navn -->
      <div class="pb-5">
        <label for="navn" class="block text-sort">Navn*</label>
        <input
          type="text"
          id="Navn"
          name="Navn"
          placeholder="Navn"
          class="w-90% p-2 border border-gray-300 rounded-lg align-items-center"
        />
      </div>
    </section>
  </article>
</MainLayout>
