---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Titel">
  <article>
    <h1>Digital skraldedag</h1>
    <h2>Sådan laver du en digital oprydning</h2>
  </article>
  <article>
    <h2>TRIN 1</h2>
    <h3>Ryd op på din smartphone</h3>
    <p>
      Fjern alle programmer, som du ikke har brugt i et stykke tid, eller som du
      kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige,
      glemte, gamle apps og spil, som du har downloadet, men endnu ikke rigtig
      prøvet. Chancerne er, at du heller ikke på magisk vis begynder at bruge
      dem senere! De bruger energi, selv når de ikke er i brug og kan forbruge
      hundredvis af megabyte under månedlige opdateringer.
    </p>
  </article>
  <article>
    <h2>TRIN 2</h2>
    <h3>Ryd op på din computers harddisk</h3>
    <p>
      Sorter din personlige computer og slet filer, der er dubletter eller er
      blevet ubrugelige. Gå gennem alle dine billeder, slet dubletter og
      slørede. Tjek videofilerne og slet sete eller unødvendige. Arkiver de
      vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din
      computer! Se retningslinjerne  for, hvordan du renser din computer og
      drev.
    </p>
  </article>
  <article>
    <h2>TRIN 3</h2>
    <h3>Ryd op i din postkasse</h3>
    <p>
      Filtrer e-mails efter den ældste, og arkiver dem. Afmeld nyhedsbreve, du
      ikke engang læser. Vælg lange samtaler, vælg den nyeste og slet alt andet!
      Søg efter almindelige navne, adresser og ord for at samle lignende
      e-mails, så du kan håndtere dem i massevis. Vær modig og klik på
      slet-knappen.  Se retningslinjerne for, hvordan du rydder op i din
      postkasse.
    </p>
  </article>
  <article>
    <h2>TRIN 4</h2>
    <h3>Lav nye arrangementer</h3>
    <p>
      Brug flere samarbejdspladser i stedet for at sende e-mails. Stop med at
      sende "ok" og "tak" e-mails! Gem de vigtige filer i ét skyrum, så der er
      ingen grund til at opbevare den samme fil på hver computer. Tænk først,
      før du bakker. Opret mindre 'hurtigt indhold' og vær mere bevidst omkring
      dine videoer og billeder. Sørg for, at du kun sikkerhedskopierer de filer,
      du har brug for, og kun de billeder, du elsker.
    </p>
  </article>
</MainLayout>
