---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import mainmaskot from "../assets/images/main.svg";
import sweatmaskot from "../assets/images/sweat.svg";
import friendsmaskot from "../assets/images/friends.svg";
---

<MainLayout title="Titel">
  <article>
    <h1>Index overskrift</h1>
  </article>

  <section id="index_infotal">
    <h2 class="text-grøn">Digital skraldedag i tal</h2>
  </section>
</MainLayout>
