---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import mainmaskot from "../assets/images/main.svg";
import sweatmaskot from "../assets/images/sweat.svg";
import friendsmaskot from "../assets/images/friends.svg";
import "motion";
---

<MainLayout title="Titel">
  <article>
    <section>
      <h1
        class="text-grøn font-verdana font-bold pb-20 p-10 lg:pl-[500px] pt-36"
      >
        Ressourcer <br /> og materialers
      </h1>
      <div>
        <img
          src="src/assets/images/vector-1.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[60px] lg:w-[100px] absolute top-36 right-8 lg:right-[400px]"
        />
        <img
          src="src/assets/images/vector-2.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[90px] lg:w-[100px] absolute top-60 right-8 lg:right-[500px]"
        />
        <img
          src="src/assets/images/vector-3.svg"
          alt="Figur i svg"
          loading="lazy"
          alt="Figur i svg"
          loading="lazy"
          class="absolute lg:w-[100px] top-48 right-28 lg:right-[600px]"
        />
      </div>
    </section>
    <hr />
    <section
      class="grid py-10 grid-cols-1 justify-items-center text-center gap-10 py-16"
    >
      <Button variant="primary">Retningslinjer for enkeltpersoner</Button>
      <Button variant="primary">Retningslinjer for virksomheder</Button>
      <Button variant="primary">Retningslinjer for skoler</Button>
      <Button variant="primary">Retningslinjer for kommuner</Button>
      <Button variant="primary">
        Sådan rydder du op på din computer og drev
      </Button>
      <Button variant="primary">Sådan rydder du op i dine e-mails</Button>
      <Button variant="primary">
        Sådan rydder du op på din smartphone og tablet
      </Button>
      <Button variant="primary">Indsamling af deltagerdata 1</Button>
      <Button variant="primary">Indsamling af deltagerdata 2</Button>
      <Button variant="primary">Markedsføringsmateriale</Button>
    </section>
    <section>
      <div id="venstre_svg">
        <img
          src="src/assets/images/vector-1.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[550px] left-8 lg:left-[300px]"
        />
        <img
          src="src/assets/images/vector-2.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[700px] left-8 lg:left-[70px]"
        />
        <img
          src="src/assets/images/vector-3.svg"
          alt="Figur i svg"
          loading="lazy"
          class="absolute lg:w-[100px] top-[850px] left-4 lg:left-[300px]"
        />
        <img
          src="src/assets/images/vector-6.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[950px] left-3 lg:left-[100px]"
        />
        <img
          src="src/assets/images/vector-5.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[1150px] left-8 lg:left-[350px]"
        />
      </div>
      <div id="hojre_svg">
        <img
          src="src/assets/images/vector-3.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[500px] right-8 lg:right-[200px]"
        />
        <img
          src="src/assets/images/vector-5.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[700px] right-8 lg:right-[400px]"
        />
        <img
          src="src/assets/images/vector-1.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[850px] right-4 lg:right-[70px]"
        />
        <img
          src="src/assets/images/vector-3.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[1000px] right-3 lg:right-[300px]"
        />
        <img
          src="src/assets/images/vector-6.svg"
          alt="Figur i svg"
          loading="lazy"
          class="w-[40px] lg:w-[100px] absolute top-[1150px] right-8 lg:right-[200px]"
        />
      </div>
    </section>
    <hr />
  </article>
</MainLayout>
