---

---

<div>
  <button
    class="px-6 py-2 bg-white border-2 border-black text-black font-medium text-lg rounded-lg shadow-[4px_4px_0px_0px_#36B7FF] hover:shadow-none"
  >
    <slot />
  </button>
</div>
